.containerDetailsKeysBox {
  width: 80%;
  height: 710px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .topDetailsKeysBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .historiqueDetailsKeysBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
